DATABASE_URL=
SOLANA_RPC_URL=
REGISTRY_SOLANA_RPC_URL=https://api.devnet.solana.com
JUPITER_SWAP_API_BASE_URL=https://lite-api.jup.ag/swap/v1
ENTRY_FEE_BPS=25
REBALANCE_FEE_BPS=10
PROTOCOL_FEE_SHARE_BPS=2000
PROTOCOL_TREASURY=stiFExnwsWbHxrB5CqCSBWMbLjgB8hVLURtUsyAr3RT
